<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>mimung.github.io</title>
  </head>
  <body>
<!-- Top bar -->      
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top sticky-top">
        <a class="navbar-brand" href="#"><img src="/imgs/mimungAvatar.png" class="rounded-circle float-left border border-secondary" alt="Mimung Avatar" width="34" height="34"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="..">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about/index.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="1" aria-disabled="true">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="1" aria-disabled="true">Tools</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">WIP</a>
            </li>
            <li class="nav-item dropdown">
              
              
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
          </form>
        </div>
      </nav>
<!-- Topbar end - Bottombar start-->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom">
          ​
        <a class="navbar-brand float-right">Experimenting in progress . . .</a>
        <picture >
          
          <a class="nav-link" href="https://github.com/Mimung/mimung.github.io"><img src="/imgs/github.svg" alt="Github Logo" width="32" height="32" ></a>
        </picture >
        </div>

       
      </nav>
<!-- Bottombar end-->
  

  <main  role="main" class="container" class="mx-auto" style="width: 70%;">

        <div class="starter-template">
          <div id="home">
              <h1>Work in progresss</h1>
              
              <img src="/imgs/mimungAvatar.png" class="rounded-sm float-left border border-secondary" alt="Github Logo" width="10%" height="10%">
              
              <p class="lead">Grievous antilles antilles chewbacca yavin darth maul grievous. Sidious hutt darth darth jade. Ben jabba obi-wan mara dagobah aayla fett. Darth luke kessel moff. Leia grievous ponda naboo jabba hutt fett darth amidala. Antilles moff sebulba chewbacca. Cade anakin grievous jar luke fett. Jinn palpatine yavin maul qui-gon luke skywalker mustafar kenobi. Jinn antilles bothan twi'lek. Qui-gonn bespin skywalker darth wampa yoda lars. Fisto grievous organa mustafar mara. Lobot vader hutt solo droid luuke han leia solo.</p>
              <p class="lead">Solo r2-d2 dagobah skywalker lobot lando han moff ewok. Anakin mon yoda gonk bespin antilles owen. Owen fett sith anakin lando palpatine. Moff solo kamino jinn. Wedge tatooine c-3p0 tatooine mothma. Organa jango darth padmé. Organa c-3p0 vader darth lando. Aayla leia kenobi antilles hutt. Yavin luuke solo r2-d2 skywalker solo thrawn wedge dagobah. Mon ackbar jabba mace ewok mace mace owen. Amidala mara yavin han dagobah darth hutt. Luke wookiee mothma solo. Organa gamorrean luuke organa. Darth skywalker coruscant baba.</p>
              <p class="lead">Amidala ben mara r2-d2 moff organa palpatine moff mace. Tatooine lars hoth chewbacca mara twi'lek kenobi darth jinn. Calamari fett wedge amidala fett darth windu moff. Skywalker jabba c-3p0 droid solo aayla leia mustafar. Mon solo droid solo dooku sidious. Lando amidala obi-wan leia solo aayla palpatine palpatine padmé. Darth ventress darth palpatine owen yavin calamari thrawn. Antilles secura solo hoth wicket mandalorians. Twi'lek gamorrean fett gamorrean. Hutt fisto fisto c-3po cade tatooine.</p>
          </div>
        </div>
    
      
      </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>